# ==============================
# Dependencies
# ==============================
node_modules/

# ==============================
# Build outputs
# ==============================
dist/          # Vite
build/         # CRA
.out/          # Next.js
.next/
coverage/

# ==============================
# Environment variables
# ==============================
.env
.env.*
!.env.example

# ==============================
# Logs
# ==============================
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*.log

# ==============================
# Cache
# ==============================
.vite/
.cache
.parcel-cache/

# ==============================
# Editor / IDE
# ==============================
.vscode/
.idea/
*.swp
*.swo

# ==============================
# OS files
# ==============================
.DS_Store
Thumbs.db
desktop.ini

# ==============================
# Deployment
# ==============================
.vercel
